/* CSS Entry Point */





.app {
	background-color: #eee;
	height: 100%;
	width: 100%;
	margin: 0;




}



.wrapper {
	margin-right: 250px;
	margin-left: 250px;
	margin-top: 20px;
	height: 100%

	
}



header {
	background-color: white;
	
}



.toptop img {
	width: 80px;
	margin-left: 250px;
}



.toptopright {
	float: right;
	margin-right: 250px;
	// vertical-align: 100px;
}



nav {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: inline-block;
	padding-left: 250px;
	padding-right: 250px;
	padding-top: 15px;
	padding-bottom: 15px;
	width:100%;


}



nav a {
	text-decoration: none;
	padding-left: 8px;


}


aside {
	border: 1px solid #ccc;
	display: inline-block;
	background-color: white;
	width: 220px;
	padding-left: 15px;

	
}



aside.ul {
 
	
}



ul {
list-style: none;
padding: 0;

	
}



.sidePrice {

}


.colorbox {
	
	margin-left: 4px;
}


.colorboxred {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: red;
	border-radius: 12%;

}


.colorboxorange{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: orange;
	border-radius: 12%;

}


.colorboxyellow{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: yellow;
	border-radius: 12%;

}


.colorboxgreen{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: green;
	border-radius: 12%;
}



.colorboxblue{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: blue;
	border-radius: 12%;
}



.colorboxpurple{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: purple;
	border-radius: 12%;
}



.colorboxblack{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: black;
	border-radius: 12%;

}



.colorboxwhite{
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: white;
	border: .5px solid #ccc;
	border-radius: 12%;


}



.orderingoptions{
	margin-top: 15px;
}




////////////////////////////MAIN//////




main {
	border: 2px solid blue;
	display: inline-block;
	float: right;
	///check this float in the future if positions are weird//
	background-color: white;
}



.mainlink1 {

}

.mainlink2 {
	float: right;

}

.contentboxes {
	

}


.box1 {
	width: 200px;
	height: 150px;
	border: 1px solid red;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;

}


.box2 {
	width: 200px;
	height: 150px;
	border: 1px solid red;
	display: inline-block;
	margin-right: 10px;
}


.box3 {
	width: 200px;
	height: 150px;
	border: 1px solid red;
	display: inline-block;
	margin-right: 10px;
}


footer {
	clear: both;
	border-top: 1px solid gray;
	padding-top: 25px;
	padding-left: 250px;
	padding-right: 250px;
	padding-bottom: 50px;
	background-color: white;


}


