/* CSS Entry Point */



.body {
	margin:0;
}



.app {
	background-color: #eee;
	height: 100%;
	width: 100%;
}



.wrapper {
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 20px;
	height: 100%;
	
}



//////////////////////////////////////////////

header {
	background-color: white;
	font-family: arial;
	
}



.toptop img {
	width: 80px;
	margin-left: 250px;
}



.toptopright {
	float: right;
	margin-right: 200px;
}

/////////////////////////////////////////////

nav {
	font-family: arial;
	color: #aaa;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: inline-block;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 15px;
	padding-bottom: 15px;
	width:100%;


}



nav a {
	color: #aaa;
	text-decoration: none;
	padding-left: 8px;


}


////////////////////////////////////////////


.aside_wrapper {
	height: 100%;
	float: left;
	font-family: arial;

}

.aside_wrapper span {
 font-weight: bold;
 font-size: small;
}


aside {
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;

	
}


.itemtype {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom:10px;
}

.itemtype h4 {
	margin: 0;
}



aside.ul {
 
	
}



ul {
list-style: none;
padding: 0;

	
}

a {
	text-decoration: none;
}



.sidePrice {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom:10px;

}


/////


.colorbox {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom:10px;

}

.colorbox div {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 15%;
	border: .5px solid #ccc;


}


.colorboxred {
	background-color: red;
}


.colorboxorange{
	background-color: orange;
}


.colorboxyellow{
	background-color: yellow;
}


.colorboxgreen{
	background-color: green;
}



.colorboxblue{
	background-color: blue;
}



.colorboxpurple{
	background-color: purple;
}



.colorboxblack{
	background-color: black;
}



.colorboxwhite{
	background-color: white;
}


/////




.orderingoptions{
	border-bottom: 1px solid #ccc;
	margin-top: 15px;
}


.shoplocation{
	border-bottom: 1px solid #ccc;
}


.shipto {
	padding: 10px;
}

.shipto button {
	margin-top: 5px;
	width: 200px;
	padding: 5px;
}


////////////////////////////MAIN//////




main {
	margin-bottom: 20px;
	float: right;
	position: static;
	width: 660px;
	font-family: arial;
	

}



.mainlink1 {
	float: left;
	margin-left: 10px;


	
}

.sortby {

	float: right;
	margin-right: 25px;

}



/////////////IMPORTANT STUFF////


.contentboxescontainer  {
	margin: 0;

}


.contentboxes {
	background-color: white;
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 200px;
	display: inline-block;
	margin-top: 20px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;

}


.box1 {	
	border-radius: 3px;
	border-radius: 3px;

}

.box1 img {
	width: 100%;
	border-bottom: 1px solid #ccc;
}


.item-title{
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: small;
}


.seller {
	padding-left: 4px;
	padding-right: 4px;
	font-size: small;
	color: #aaa;
	float: left;

}
.price {
	padding-left: 4px;
	padding-right: 4px;
	font-size: small;
	color: lighten(green, 20%);
	float: right;

}




///////////////////////////////////////////////

footer {
	clear: both;
	border-top: 1px solid gray;
	padding-top: 25px;
	padding-left: 250px;
	padding-right: 250px;
	padding-bottom: 50px;
	background-color: white;


}


